.servicesPageCont {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    padding-block: 5rem;
    width: 100vw;
    text-align: center;
    gap: 3rem;

    h2 {
        font-weight: 300;
    }

    .servicesPageDiv {
        overflow-x: scroll;
    }

    .servicesCont {
        display: flex;
        align-items: center;
        justify-content: left;
        flex-direction: row;
        height: 40vh;
        gap: 3rem;
        width: fit-content;
        padding-inline: 3rem;
    }
}